.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.items-1 {
    border: 1px solid silver;
    order: 1;
    flex-grow: 10;
}

.items-2 {
    border: 1px solid silver;
    order: 3;
    flex-grow: 10;
}

.items-3 {
    border: 1px solid silver;
    order: 2;
    flex-grow: 5;
}